<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div>
	
	<form>
	<table action="products/add_product">
		<tr>
			<td>Name</td>
			<td><input name="name"></input></td>
		</tr>
		<tr>
			<td>Category</td>
			<td></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><textarea name="description"></textarea></td>
		</tr>
		<tr>
			<td>Image 1</td>
			<td><input name="image1"></input></td>
		</tr>
			<tr>
			<td>Image 2</td>
			<td><input name="image2"></input></td>
		</tr>
			<tr>
			<td>Image 3</td>
			<td><input name="image3"></input></td>
		</tr>
			<tr>
			<td>Image 4</td>
			<td><input name="image4"></input></td>
		</tr>
		<tr>
			<td>Size</td>
			<td><input name="size"></input></td>
		</tr>
		<tr>
			<td>Price</td>
		</tr>
		<tr>
			<td>On Sale</td>
			<td><input name="onSale"></input></td>
		</tr>
		<tr>
			<td>On Sale Price</td>
			<td><input name="onSale_price"></input></td>
		</tr>
		<tr>
			<td>New Arrival</td>
			<td><input name="newArrival"></input></td>
		</tr>
	</table>
		

	</form>

</div>

</body>
</html>