<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'products_app/css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'products_app/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'products_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'products_app/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'products_app/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'products_app/css/bootstrap-grid.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'products_app/js/jquery-3.2.1.slim.min.js' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'products_app/js/tether.min.js' %}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Men's Foorwear</title>
<body>    
  <!-- SHOPPING CART SECTION -->
  <div class="container-fluid">
        <ul class="nav justify-content-end navbar-toggleable-sm flex-sm-row">
          <li><a class="nav-item nav-link active" href="#">MY ACCOUNT</a></li>
          <li><a class="nav-item nav-link" href="#">STORE LOCATOR</a></li>
          <li><a class="nav-item nav-link" href="#">SHOPPING BAG</a></li>
        </ul> 
    </div> <!-- end container fluid-->

    <!-- SEARCH SECTION -->
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <form class="form-inline justify-content-end">
            <input class="form-control mr-1" placeholder="Search">
            <button class="btn btn-reverse">GO</button>
          </form>
        <!-- <form class="nav justify-content-end">
          <input type="text" value="SEARCH">
          <input type="submit" value="GO">
        </form> -->
      </div>
    </div>
    
    <!-- COMPANY LOGO --> 
    <div class="container-fluid">      
      <div class="justify-content-center text-center">
        <h3><a class="logo" href="/products">SHOPSTYLE</a></h3>
        <!-- <img id="logo" class="icon-bar" src=""> -->
      </div>
    </div> <!-- close container --> 
    
   <!-- NAVIGATION -->
<div class="container-fluid">
  <ul class="nav justify-content-center navbar-toggleable-sm flex-sm-row">
    <li><a class="nav-item nav-link active" href="#">NEW ARRIVALS</a></li>
    <li class="dropdown">
    <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">WOMENS</a>
      <ul class="dropdown-menu" id="accessMenu" aria-haspopup="true" aria-expanded="false">
        <li><a href="/products/show_dashboard/Womens_Apperal">Apparel</a></li>
        <li><a href="/products/show_dashboard/Womens_Footwear">Footwear</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">MENS</a>
      <ul class="dropdown-menu" id="accessMenu" aria-haspopup="true" aria-expanded="false">
        <li><a href="/products/show_dashboard/Mens_Apperal">Apparel</a></li>
        <li><a href="/products/show_dashboard/Mens_Footwear">Footwear</a></li>
      </ul>
    </li>

    <li><a class="nav-item nav-link" href="#">KIDS</a></li>

    <li class="dropdown">
      <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">ACCESSORIES</a>
      <ul class="dropdown-menu" id="accessMenu" aria-haspopup="true" aria-expanded="false">
        <li><a href="#">For Men <i class="icon-arrow-right"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Jewelry</a></li>
            <li><a href="#">Leather goods</a></li>
            <li><a href="#">Watch</a></li>
            <li class="divider"></li>
          </ul>
        </li>
        <li><a href="#">For Women</a></li>
        <li><a href="#">For Kids</a></li>
        <li class="divider"></li>
        <li><a href="#">Dojo's Exclusive<i class="icon-arrow-right"></i></a>
          <ul class="dropdown-menu sub-menu" id="exclusiveSubmenu">
            <li><a href="#">Belts</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Stickers</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a class="nav-item nav-link" href="#">SALE</a></li>
  </ul> 
</div> <!-- end container fluid-->

        <!-- //////////////////////////////////////////////////////////////////////////////////////// -->
        <hr>

	<div class="container-fluid">
		<div class="row">
			<section class="align-top col-sm-4" id="productbox">
				<h3 id="productName">{{product.name}}</h3>
				<img class="thumbnail zoom" src="{{product.image1}}" alt="{{product.name}}" id="picsize">
				<ul style="padding-left: 0";>
					<li class="product_thumbnail"><img src={{product.image1}} class="product_thumbnail"></li>
					<li class="product_thumbnail"><img src={{product.image2}} class="product_thumbnail"></li>
					<li class="product_thumbnail"><img src={{product.image3}} class="product_thumbnail"></li>
					<li class="product_thumbnail"><img src={{product.image4}} class="product_thumbnail"></li>
				</ul>
			</section>
			
			<div class="pdetails">
				<section class="align-top col-md-6 col-lg-10" id="productbox2">
					<div class="row">
					<table class="table table-striped">
						<tr>
							<th scope="row">Item</th>
							<td class="largep">{{product.name}}</td>
						</tr>
						<tr>
							<th scope="row"> Description</th>
							<td class="largep">{{product.description}}</td>
						</tr>
						<tr>
							<th scope="row">Price</th>
							<td class="largep">${{product.price}}</td>
						</tr>
					</div>
					<a href='/products/show_dashboard/Womens'>Back to Apparel</a>	
					</table>
					<form id="addCart" action="/products/addtocart" method="post">
						{% csrf_token %}
						<input type="hidden" name='prodid' value='{{product.id}}'>
						<h5>Sizes</h5>
						<select id="addCount" class="btn btn-lg btn-default" name="size" id="item size">
						<option value="30">30</option>
						<option value="32">32</option>
						<option value="34">34</option>
						</select>
						<h5>Quantity</h5>
						<select id="addCount" class="btn btn-lg btn-default" name="quantity" id="item quantity">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						</select>
						<input class="btn btn-default active" type="submit" value='Add to Cart'>	
					</form>
				</section>
			</div>
		</div> <!-- End of row -->	
	</div> <!-- End of container -->
</body>
</html>
