/* Drop down menu style */
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-tabs .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}
.nav-link {color: #010000;}

#accessMenu {
  margin-top: 0px;
  border: 0px;
}
#exclusiveSubmenu {
  margin-top: 90px;
}
/* END Drop down menu style */


.item{
  display: inline-block;
  width: 20%;
  /* margin-right: 30px;
  margin-bottom: 30px; */
  vertical-align: top;
  /* min-height: 300px; */

}
.item>p{
font-size: large;
color: rgba(0,123,0,.75);
text-decoration: none;
margin: 10px 0px 0px 0px;
padding: 10px;
text-align: center;
flex-wrap: wrap;
max-width: 200px;
}

.item a{
color: rgba(0,123,255,.75);
text-align: center;
padding: 10px 20px 10px 20px;
flex-wrap: wrap;
}

#categorybox{
  /* width: 300px; */
  border: 1px solid black;
  display: inline-block;
}

#show_product{
  /* width: 900px;
  height: 600px; */
  display: inline-block;
  border: 1px solid red;
}