/* Drop down menu style */
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-tabs .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}
.nav-link {color: #010000;}

#accessMenu {
  margin-top: 0px;
  border: 0px;
}
#exclusiveSubmenu {
  margin-top: 90px;
}

/* Carousel style */
#myCarousel {
  min-height: 650px;
  margin-bottom: 30px;
}
.carousel-inner {
  min-height: 650px;
}

.row{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;

}
#womenPress {
  /* margin: 10px; */
  min-height: 650px;
  /* padding: 10px;
  padding-bottom: 150px; */
  font-size: large;
  background: url('../images/HMPG_02.jpg') no-repeat;
  background-size: cover;
  letter-spacing: .1em;
  color: #eee;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
/* #womenPress>p {
  background: rgba(0,0,0,.5);
  border-radius: 5px;
  padding: 10px;
} */

#menPress {
  /* margin: 10px; */
  min-height: 650px;
  /* padding: 10px;
  padding-bottom: 150px; */
  font-size: large;
  background: url('../images/HMPG_03.jpg') no-repeat;
  /* background: url('https://github.com/dojoteam/EcommerceSite/blob/master/apps/users_app/static/userDashboard/images/forfpo.jpg?raw=true') no-repeat; */
  background-size: cover;
  letter-spacing: .05em;
  color: #eee;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
/* #menPress>p {
  background: rgba(0,0,0,.25);
  border-radius: 5px;
  padding: 10px;
} */
#kidsPress {
  /* margin: 10px; */
  min-height: 650px;
  /* padding: 10px;
  padding-bottom: 150px; */
  font-size: large;
  background: url('../images/HMPG_04.jpg') no-repeat;
  background-size: cover;
  letter-spacing: .1em;
  color: #eee;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
#accessPress {
  /* margin: 10px; */
  min-height: 650px;
  /* padding: 10px;
  padding-bottom: 150px; */
  font-size: large;
  background: url('../images/HMPG_02.jpg') no-repeat;
  background-size: cover;
  letter-spacing: .1em;
  color: #eee;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

/* #accessPress>p {
  background: rgba(0,0,0,.25);
  border-radius: 5px;
  padding: 10px;
} */


/* MIDDLE HERO SECTION */
.hero_image{
  background-image: url('../images/middlepic.jpg');
  background-position: center center;
  background-size: cover;
  height:900px;
  margin:50px 0 50px 0;
}

/* BOTTOM FEATURED SECTION */
.featuredPic{
  width: 100%;
  height: 100%
}
.featuredname{
  margin-bottom: 5px;
}
.featureddscri{
  line-height: 95%;
  margin-bottom: 5px;
}
.featureddprice{
  margin-top:-5px;
}
h1{
  size: 90em;
}
p{
  text-align: center;
}

#services{
  text-align: center;
  margin-bottom: 30px;
}

/* REGISTRATION PAGE */

#registrationPage {
  background: url('../images/box_b_300.png');
  max-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.bkgd {
  background: url('../images/box_pink_300.png') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
}

#registForm {
  color:  white;
  text-align: left;
  font-size: large;
}
#registForm h1 {
  color: black;
}
#registForm a {
  color: black;
}

